@import "../variables";

.showcase_page {
    background: #f9f9f9;
}

.projects {
    margin-top: 50px;
    height: auto;
    width: 100%;
    display: grid;
    place-items: center;

    .wrapper {
        width: 100%;
        height: auto;
        display: grid;
        place-items: center; //2070px
        // background-color: transparent;
       
        .pro_items {
            padding: 100px 0;
            width: 100%;
            height: fit-content;
            display: grid;
            place-items: center;
            position: relative;
            overflow: hidden;

            &:last-child { //3
                background: #fff8df;
                padding-bottom: 200px;
            }
            &:nth-last-child(2) { //2
                background: #f6f5f9;
            }
            &:nth-last-child(3) { //1
               background: #fff7f3;
            }
        } 
    }
}